layout {
    pane split_direction="vertical" {
        pane {
            name "Frontend Interactive"
            cwd "~/Documents/Github/posterrackmgmtfrontend"
            command "code"
            args "."
            start_suspended true
        }
        
        pane size="35%" {
            name "Frontend Build"
            cwd "~/Documents/Github/posterrackmgmtfrontend"
            command "npm"
            args "run" "start:local"
        }
    }
    pane split_direction="vertical" {
        pane {
            name "Backend Interactive"
            cwd "~/Documents/Github/posterrackmgmtbackend"
            command "idea-ultimate"
            args "."
            start_suspended true
            focus true
        }
        pane size="35%" {
            name "Backend Build"
            cwd "~/Documents/Github/posterrackmgmtbackend"
            command "docker"
            args "compose" "up" "--wait" "--build" "--force-recreate" "--no-deps"
        }
    }
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
}