on: [push]
name: Quality Check
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          nix-package: nixpkgs#nixFlakes
      - name: Check formatting
        run: nix build .#checks.x86_64-linux.lint
